Source: oar-drmaa
Priority: optional
Maintainer: Pierre Neyron <pierre.neyron@frere.fr>
Uploaders: Vincent Danjean <vdanjean@debian.org>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, bison, gperf, ragel, libtorque2-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/oar-team/oar-drmaa-v1/blob/master/doc_drmaa1.rst

Package: oar-drmaa-dev
Section: libdevel
Architecture: any
Conflicts: libdrmaa-dev (<< 6.2u5-3)
Depends: oar-drmaa1 (= ${binary:Version}), ${misc:Depends}
Description: DRMAA for Torque/PBS Pro - devel
 DRMAA for OAR is an implementation of OGF DRMAA 1.0
 (Distributed Resource Management Application API) specification for the
 submission of jobs to OAR systems.
 .
 This package contains the development files for oar-drmaa.

Package: oar-drmaa1
Architecture: any
Conflicts: libdrmaa1.0 (<< 6.2u5-3)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DRMAA for Torque/PBS Pro - runtime
 DRMAA for OAR is an implementation of OGF DRMAA 1.0
 (Distributed Resource Management Application API) specification for the
 submission of jobs to OAR systems.
